@page
@using NorthwindApp.Models
@model CategoriesModel

<table id="categories" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            @foreach (string rowName in Model.RowNames)
            {
                <th>@rowName</th>
            }
        </tr>
    </thead>

    @foreach (Category category in Model.Categories)
    {
        <tr>
            <td>@category.CategoryId</td>
            <td>@category.CategoryName</td>
            <td>@category.Description</td>
        </tr>
    }
</table>