@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Northwind</h1>

    <p>
        <a class="nav-link text-dark" asp-page="/Index" asp-route-code="1">
            Trigger DivisionByZeroException
        </a>
    </p>

</div>
