@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "Shared/_HomePageLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Northwind</h1>

    <p>
        <a class="nav-link text-dark" asp-page="/Index" asp-route-code="1">
            Trigger DivisionByZeroException
        </a>
        <a class="nav-link text-dark" target="_blank" href="@Model.SwaggerUIUrl">
            Swagger UI
        </a>
    </p>

    @if (User.Identity.IsAuthenticated)
    {
        <p class="text-danger">
            Hello, @User.Identity.Name
        </p>
    }
</div>
